body {
    margin: 0;
}

nav {
    position: fixed;
    z-index: 1000000;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
}

.nav-link {
    color: white;
}

.active {
    border-bottom: 1px solid white;
}

.landing {
    height: 100%;
    width: 100%;
    background-image: url("../assets/images/landing.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.landing-content {
    text-align: center;
    color: white;
    padding-top: 15vw;
    padding-bottom: 15vw;
}

.landing-content > h1 {
    font-size: 3em;
}

.custom-button {
    background: transparent;
    color: white;
    padding: 7px 25px;
    border: 1px solid white;
    border-radius: 10px;
}

.custom-button:hover {
    background: #b01e24;
    border-color: #b01e24;
    color: white;
    text-decoration: none;
    transition: 0.5s all ease;
}

.custom-button-footer {
    background: #b01e24;
    color: white;
    padding: 7px 25px;
    border: 1px solid white;
    border-radius: 10px;
}

.custom-button-footer:hover {
    background: transparent;
    border-color: #b01e24;
    color: #b01e24;
    text-decoration: none;
    transition: 0.5s all ease;
}

.container-padding {
    padding: 50px 0px;
}

.content-padding {
    padding: 50px 0px;
}

.tutors-home {
    background: #b01e24;
}

.heading-white {
    color: white;
}

.avatar {
    background: white;
    height: 150px;
    width: 150px;
    border-radius: 100%;
    overflow: hidden;
}

.avatar > img {
    height: 100%;
    width: 75%;
    margin: 0 auto;
    display: block;
}

.tutor-info {
    padding-top: 25px;
    color: white;
}